services:
  ever-blog:
    image: ever-blog:${VERSION}
    build:
      context: .
      dockerfile: dockerfile
      platforms:
        - linux/amd64
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000
      - POSTS_DIR=/posts
    restart: unless-stopped
    volumes:
      - ./posts:/posts
      - ./images:/posts/images
