@import 'highlight.js/styles/github.css';
@import './tailwind.css';

:root {
  --background: #f7f7f9;
  --foreground: #0a0a0a;
}

html {
  /* font-size: 10px; */
  font-style: normal;
  background: var(--background);
  color: var(--foreground);
}

body {
  /* font-size: 1.6rem; */
}
